h1{
    font-size: larger;
    text-align: center;
    color: rgb(252, 158, 177);
    background-color:crimson;
    height: 100px;
    line-height: 100px;
    display: block;
    font-weight: lighter;
    
    
}
nav{

    color: rgb(252, 140, 162);
    height: 100px;
}

li{
    float: right;
    margin: 15px;
    
}
p{
    background-color: lightsalmon;
    color: maroon;
    
    padding: 55px;
    margin: 15px;
}
footer{
    background-color: crimson;
    color: darksalmon;
}