h1{
    font-size: larger;
    text-align: center;
    color: rgb(252, 158, 177);
    background-color:crimson;
    height: 100px;
    line-height: 500%;
    
    
}
nav{

    color: rgb(252, 140, 162);
    height: 100px;
    text-align: center;
}

li{
    float: right;
    margin: 15px;
    
}
p{
    background-color: lightsalmon;
    color: maroon;
    line-height: 70%;
    padding: 15px;
    margin: 15px;
}
footer{
    color: rgb(173, 10, 10);
    line-height: 1;
    margin-top: 2500px;
}



nav ol.a {
    color: darkblue;
    width: 155px;
    height: 155px;
    padding: 122px;
    margin-left: 520px;
    list-style-type:upper-alpha;
    display: block;
    text-align: center;
    line-height: 1;
}


nav ol li{

background-color:mediumturquoise ;
color: navy;
padding: 100px;
margin: 15px;
line-height: 1;
width: 255px;
text-align: center;

}
h2{
    color: mediumblue;
    background-color: mediumturquoise;
    line-height: 80%;
    height: 80%;
    text-align: center;
    padding: 22px;
}
